@using PPOB.Models.TypeBPJS;
@{
    List<MasterTypeBPJS> List = (List<MasterTypeBPJS>)ViewData["ListTypeBPJS"];
    var no = 0;
}
<div class="row">
    <div class="col-md-12">
        <div class="box box-warning">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-warning">
                        <div class="box-body">
                            <button class="btn btn-success" onclick="return FormAdd()"><span class="fa fa-plus"></span>Add BPJS</button>
                            <hr />
                            <table id="table" class="table table-bordered table-striped table-condensed">
                                <thead style="color:blue">
                                    <tr>
                                        <th style="width:10px; text-align:center;" class="sorting_disabled">No</th>
                                        <th>BPJS ID</th>
                                        <th>Deskripsi</th>                                        
                                        <th style="width:40px; text-align:center;" class="sorting_disabled">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @foreach (var item in List)
                                    {
                                        no++;
                                        <tr>
                                            <td>@no</td>
                                            <td id="grid_bpjs_id">@item.BPJSId</td>
                                            <td id="grid_deskripsi">@item.Deskripsi</td>
                                            <td style="text-align:center;">
                                                <input id="grid_bpjs_id" class="hidden " value="@item.BPJSId"/>
                                                <button class="btn btn-xs btn-success" title="Edit" onclick="return FormEdit($(this))"><span class="fa fa-pencil"></span></button>
                                                <button class="btn btn-xs btn-danger" title="Delete" onclick="return DeletePopUp($(this))"><span class="fa fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



